.bottomCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottomCard {
  height: 20rem;
  width: 12rem;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  border-radius: 8px;
}

.bottomCardImage {
  width: 11rem;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}

.bottomCardName {
  width: 90%;

  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #fafafa;
}

.months {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 6px;
  gap: 4px;

  position: absolute;
  width: 69px;
  height: 22px;

  margin-top: 10rem;
  margin-left: 6rem;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  border-radius: 31px;
}

.monthText {
  width: 57px;
  height: 20px;

  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #ffffff;
}

.bottomCardMiddle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.ethValueTop {
  width: 35px;

  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #fafafa;
}

.flexBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ethValue {
  width: 31px;
  height: 20px;

  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: #fafafa;
}

.greenText {
  width: 41px;
  height: 20px;

  font-family: "Sharp Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #19ed7b;
}
